<div class=panel>
	<% @portfolio_items.each do |item| %>
		<div class=panel-row>
			<%= link_to(content_tag(:h3, item.title), item) %>
			<%= content_tag(:p, item.description) %>
		</div>
	<% end %>
</div>